.gradle
.env
.gitignore
.gitattributes
HELP.md
src/main/resources/http
src/test
.kotlin
build/classes
build/kotlin
build/reports
build/resources
build/test-results
build/tmp
build/resolvedMainClassName
gradle
auth-service.iml
gradlew
gradlew.bat